<!DOCTYPE html>
 <html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>VUE</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../../../public/css/app.css">
    </head>
    <body>
        <h2>Test this</h2>
            <div id="intro" class="row">
                {{ message }}
            </div>
        <script src="../../js/app.js" async defer></script>
        <script src="../../js/bootstrap.js" async defer></script>
    </body>
</html>
